# .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.userprefs
*.vs/
TestResults/
*.ncrunch*
*.localhistory/
*.vscode/
*.DS_Store
*.swp
*.sln.ide
*.dbmdl
*.log
*.pdb
*.cache
*.ide
*.sdf
*.opensdf
*.VC.db
*.VC.VC.opendb
*.vshost.*
_ReSharper*/
*.resharper
*.DotSettings.user
*.dotCover
*.dotTrace
*.dotMemory
*.dotPeek
*.nunit*
*.coverage*
*.vspscc
*.vssscc
*.scc
*.orig
*.bak
*.tmp
*.tmp_proj
*.log
*.tlog
*.patch
*.diff
*.suo
*.sdf
*.cache
*.dbmdl
*.dbproj.schemaview
*.pfx
*.publishsettings
*.userprefs
*.vs/
appsecrets.json
